<div style = "text-align: center;">
  
  <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  {{title}}
  </h1>

  <hr>

  <input type="number" name = "num1" [(ngModel)] = "num1">
  <input type="number" name = "num2" [(ngModel)] = "num2">
  
  <br><br>

  <div>
    <button (click)="sumar()">SUMAR</button>
    <button (click)="restar()">RESTAR</button>
    <button (click)="multiplicar()">MULTIPLICAR</button>
    <button (click)="dividir()">DIVIDIR</button>
  </div>

  <br>

  <h3 
  style="border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(85, 85, 85); 
  margin: 1% 35% 1% 35%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  ">Resultado: {{num3}} </h3>

</div>